<h1>Offers</h1>
<div class="card-offer">
  <% @offers.each do |offer| %>
    <%= link_to offer.title, offer_path(offer) %></li>
  <% end %>
</div>

<%= link_to "Add a restaurant", new_restaurant_path %>