.btn-main {
  color: #ffffff;
  background-color: rgb(194, 46, 46);
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity ease;
}

.btn-main:hover {
  opacity: 0.6;
  border: 1px solid black;
  background-color: rgb(194, 46, 46);
  color: white;
}

.btn-accept {
  color: black;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: 0.5s ease;
  background-color: rgb(74, 247, 6);
}

.btn-accept:hover {
  opacity: 1;
  border: 1px solid rgb(8, 66, 8);
  background-color: rgb(31, 161, 31);
  color: white;
}

.btn-decline {
  color: black;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: 0.5s ease;
  background-color: rgb(255, 0, 0);
}

.btn-decline:hover {
  opacity: 1;
  border: 1px solid rgb(119, 4, 23);
  background-color: rgb(245, 6, 46);
  color: white;
}
.btn-nav {
  font-family: New Amsterdam;
  color: #4A4A4A;
  padding: 4px 12px;
  font-weight: lighter;
  font-size: 20px;
  transition: 0.5s ease;
}

.btn-nav:hover {
  color: white;
  background-color: rgb(184, 28, 28);
}

.btn-banner {
  font-family: New Amsterdam;
  color: white;
  font-weight: lighter;
  font-size: 20px;
  background-color: rgb(184, 28, 28);
  padding: 8px 24px;
  border-radius: 50px;
  transition: 0.5s ease;
}

.btn-banner:hover {
  font-family: New Amsterdam;
  color: white;
  font-weight: lighter;
  font-size: 20px;
  background-color: transparent;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 50px;
}

.btn-form {
  font-family: New Amsterdam;
  color: white;
  font-weight: lighter;
  font-size: 20px;
  background-color: rgb(184, 28, 28);
  padding: 8px 24px;
  border-radius: 50px;
  transition: 0.5s ease;
}

.btn-form:hover {
  font-family: New Amsterdam;
  color: rgb(0, 0, 0);
  font-weight: lighter;
  font-size: 20px;
  background-color: transparent;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 50px;
}
